
<ion-content>
  <div class="ion-padding">

    <img src="../../assets/imgs/LogoWD.png">
    <br><br>

  <div class="ion-text-center">
   
    <h2><ion-text color="tertiary">Meus Cursos e Materiais</ion-text></h2>
  </div> <br>
  
<ion-card class="ion-text-center">
<ion-card-header>
  <img src="../../assets/imgs/CursoHtml.jpg"> 
  </ion-card-header>
<ion-card-content><ion-text color='tertiary'><h1>HTML - Básico</h1><br></ion-text>
  <ion-icon name="file-tray-full"></ion-icon> <ion-text color ='tertiary'>Materiais</ion-text> <p></p>
  <br>
  <ion-icon name="play-circle"></ion-icon> <ion-text color ='tertiary'>Video Aulas</ion-text> <p>
    <br>
    <ion-icon name="document-text"></ion-icon>  <ion-text color ='tertiary'>Provas</ion-text>
  </p>
</ion-card-content> 

</ion-card>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


  </div>


  <div class="ion-text-center">
       
    

    <ion-button tab="people" routerLink='/cursos'>
      <ion-icon name="caret-forward-outline" ></ion-icon>
  <ion-label color='tertiary'>Cursos Disponíveis</ion-label>
  </ion-button>

<ion-button tab="about" routerLink='/progress'>
  <ion-icon name="checkmark-circle-outline"  ></ion-icon>
<ion-label color='tertiary'>Histórico de Cursos</ion-label>
</ion-button>

  
<ion-button routerLink='/home'>
  SAIR
  <ion-icon slot="end" name="log-out"></ion-icon>
</ion-button>
</div>
</ion-content>
