.logo{
    position:center;
    width: 315px;
    height: 50px;
}

.divzinha {  
    text-align:center;
    position:center;

    border-radius: 25px;
    width: 318px;
    height: 30px;
}
.teste{
    --background: linear-gradient(#444242, black);

}
.botao{
    float:right;
    --background: url("https://cdn.discordapp.com/attachments/484858495221366790/833144868591108106/gradiente.png") no-repeat center center / cover !important;
}
.cursos{
 position: center;
    width: 300px;
    height: 200px;
}

ion-card {
    background-color: rgb(92, 87, 87); // black
    border-radius: 20px!important;
  }
  

ion-item{
    --border-radius: 20px!important;
  }

  ion-content {
    --background: url('../../assets/imgs/fundoapp.png') no-repeat center center / cover !important;
}

   ion-icon{
     color: #ffffff;
        font-size: 25px; //Preferred size here
    }

    ion-toolbar{
        color: #ffffff;
        --background: url('../../assets/imgs/fundoapp.png') no-repeat center center / cover !important;
    }
