
    ion-toolbar{
        color:white;
        --background: url('../imgs/Backgroundgrey.png') no-repeat center center / cover !important;
    }

    ion-content{
        color:white;
        --background: url('../imgs/Backgroundgrey.png') no-repeat center center / cover !important;
    }
    ion-card {
        border-radius: 20px!important;
      }

    