<ion-header>
  <ion-toolbar>
    <ion-title>Detalhes do Lembrete</ion-title>

  <ion-buttons slot="start" >
    <ion-button (click)="closeModal()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
    <ion-row class="ion-text-center"> 
      <ion-col size="12">
        <h1>{{contact.tituloLembrete}}</h1>
        <h2>{{contact.lembrete}}</h2>
      </ion-col>
    </ion-row>

    <ion-button [routerLink] = "['/edit', contact.tituloLembrete]"   (click)="closeModal()" expand="block">
      <ion-icon slot="start" name="create"></ion-icon>
      Editar Lembretes
    </ion-button>

    <ion-button (click)="closeModal()" expand="block">
    <ion-icon slot="start" name="close"></ion-icon>
    Fechar
  </ion-button>
</ion-card-content>
  </ion-card>
</ion-content>
