ion-toolbar{
    color: #ffffff;
    --background: url('../../assets/imgs/Backgroundgrey.png') no-repeat center center / cover !important;
}
ion-content{
    color: #ffffff;
    --background: url('../../assets/imgs/Backgroundgrey.png') no-repeat center center / cover !important;
}
ion-card {
    border-radius: 20px!important;
  }