
<ion-content padding class="alignin-center">
  <ion-grid>
    <ion-row>
    <img src="../../assets/imgs/LogoWD.png">
    </ion-row>
    <ion-row> 
  <div *ngIf="user == null" class="ion-padding">
  <h1 class='ion-padding'>Recupere sua Senha. </h1> 

  <ion-item class="ion-padding"style="border: 10px;" >
    <ion-input type="password"  placeholder="Digite seu RA." required></ion-input>
  </ion-item>

    <ion-item class="ion-padding"style="border: 10px;" >
      <ion-input type="password"  placeholder="Digite seu e-mail." required></ion-input>
    </ion-item>

    <ion-item class="ion-padding"style="border: 10px;" >
      <ion-input type="password"  placeholder="Digite sua nova senha." required></ion-input>
    </ion-item>

    <ion-item class="ion-padding"style="border: 10px;" >
      <ion-input type="password"  placeholder="Confirme sua nova senha." required></ion-input>
    </ion-item>

  
    <ion-button routerLink='/home' class="ion-padding" >RECUPERAR</ion-button>
  
  </div>
  
</ion-row>
  <ion-grid>

