
<ion-content padding class="alignin-center">
  <ion-grid>
    <ion-row>
    <img src="../../assets/imgs/LogoWD.png">
    </ion-row>
    <ion-row> 
  <div *ngIf="user == null" class="ion-padding">
  <h1 class='ion-padding'>Seja Bem- Vindo ao WeDevolution </h1> 
   <h4 class='ion-padding'>Faça Login com seu Ra e Senha.</h4>
    <ion-item class="ion-padding"  >
      <ion-label floating>
      <ion-icon  color="primary" name='person'>
      </ion-icon></ion-label>
      <ion-input type="int" placeholder="Digite seu RA." required></ion-input>
    </ion-item>
    
    <br>

    <ion-item class="ion-padding"style="border: 10px;" >
      <ion-label floating>
      <ion-icon color="primary" name='lock-closed-outline'>
      </ion-icon> </ion-label>
      <ion-input type="password" placeholder="Digite sua senha."required></ion-input>
    </ion-item>

    <ion-button class="ion-padding" routerLink='/trocarsenha'>Esqueci minha senha.</ion-button>
    <ion-button routerLink='/cursos' class="ion-padding" >Login</ion-button>
  
  </div>
  
</ion-row>
  <ion-grid>


