ion-content {
  --background: url('../../assets/imgs/fundo.jpg') no-repeat center center / cover !important;
}

ion-item{
  --border-radius: 25px!important;
}

ion-card {
  color:white;
  background: url('../home/img/Backgroundgrey.png');
  border-radius: 20px!important;
}
ion-button {
  --border-radius: 40px!important;

}

